<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradecard</title>
    <link rel="icon"
        href="https://user-images.githubusercontent.com/63087888/87461299-8582b900-c60e-11ea-82ff-7a27a51859d0.png"
        type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="dashboardbody">


    <%- include('navbar') %>

        <div class="container-fluid">
            <h1 class="mt-5">Collections</h1>

            <div>
                <form action="/collections/<%= collectionId %>" method="GET">

                    <label for="filter">Filter by Rarity:</label>

                    <select name="filter" id="filter">

                      <option value="">All</option>
                      <option value="common">Common</option>
                      <option value="uncommon">Uncommon</option>
                      <option value="rare">Rare</option>
                      <option value="double rare">Double rare</option>
                      <option value="Ultra Rare">Ultra Rare</option>
                      <option value="Secret Rare">Secret Rare</option>
                      <option value="Promo">Promo</option>
                      
                      

                    </select>

                    <button type="submit">Filter</button>
                  </form>

            </div>
            <div>
                <form action="/collections/<%= collectionId %>" method="GET">

                    <label for="filter">Filter by Type:</label>

                    <select name="filter" id="filter">

                      <option value="">All</option>

                      <option value="Fire">Fire</option>
                      <option value="Dragon">Dragon</option>
                      <option value="Lightning">Lightning</option>
                      <option value="Grass">Grass</option>
                      <option value="Water">Water</option>
                      <option value="Fairy">Fairy</option>
                      <option value="Psychic">Psychic</option>
                      <option value="Darkness">Darkness</option>
                      <option value="Metal">Metal</option>
                      <option value="Colorless">Colorless</option>



                    </select>

                    <button type="submit">Filter</button>
                  </form>

            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 ">
                <% if (cardData && cardData.length> 0) { %>
                    <% cardData.forEach(card=> { %>
                        <div class="col">
                            <div class="card h-100">
                                <a href="/viewcard/<%= card.id %>">
                                    <img src="<%= card.image %>/high.png" class="card-img-top" alt="<%= card.name %>">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= card.name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= card.text %>
                                    </p>


                                    <% if(userId === collectionUserId) {%>
                                    <form action="/deletecard/<%= collectionId %>/<%= card.id %>" method="POST">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <% } %>

                                      
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <div class="col">
                                    <p>No cards found</p>
                                </div>
                                <% } %>
            </div>

        

            <footer>
                Tradecard, the pokedex visualizer
            </footer>
</body>



</html>