<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradecard</title>
    <link rel="icon"
        href="https://user-images.githubusercontent.com/63087888/87461299-8582b900-c60e-11ea-82ff-7a27a51859d0.png"
        type="image/x-icon">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="/styles/style.css">

</head>


<body class="cardsbody">

    <%- include('navbar') %>

    <div>
    <div class="container-fluid accountcreationcontainer">
        <h2 class=" display-4">
        Card Details
    </h2>
    </div>
    

    <% if (card) { %>
        <div class="container-fluid singlecard display-6 spacer">
            <div class="row">
                <div class="col-md-6">

                    <p>Name: <%= card.name %></p>

                    <% if (card.rarity) { %>
                        <p>Rarity: <%= card.rarity %></p>
                    <% } %>

                    <% if (card.types) {%>
                        <p>Type: <%= card.types %></p>
                    <% } %>
    
                    <% if (card.attacks && card.attacks.length > 0) { %>
                        
                        <h5 class="spacer">Attacks:</h5>

                        <% card.attacks.forEach(attack => { %>

                            <strong><%= attack.name %></strong>
                            <p >Effect: <%= attack.effect %></p>

                        <% }); %>

                    <% } else { %>

                        <p>No attacks available for this card.</p>

                    <% } %>

                    <% if (card.abilities && card.abilities.length > 0) { %>
                        
                        <h5 class="spacer">Abilities:</h5>

                        <% card.abilities.forEach(ability => { %>

                            <strong><%= ability.name %></strong>
                            <p>Type: <% ability.type %></p>
                            <p >Effect: <%= ability.effect %></p>

                        <% }); %>

                    <% } else { %>

                        <p>No abilities available for this card.</p>

                    <% } %>



                </div>
                <div class="col-md-6">
                    <img src="<%= card.image %>/high.png" class="img-fluid" alt="Card Image">
                </div>
            </div>
        </div>
    <% } else { %>
        <p>No card found.</p>
    <% } %>

    
    <% if(user){ %> 

    <form class="container-fluid singlecard display-6 spacer" action="/addcard" method="post">
        <div class="mb-3">
            <label for="collectionName" class="form-label">Select Collection:</label>

            <select class="form-select" id="collectionName" name="collectionName">
             <% if (collections && collections.length > 0) { %>

                <% collections.forEach(collection => { %>
                <option value="<%= collection.collection_name %>"><%= collection.collection_name %></option>
                <% }); %>
                
                <% } else { %>
                    <option value="" disabled>No collections available</option>
                <% } %>

            </select>
        </div>
        <input type="hidden" name="cardId" value="<%= card.id %>">
        <button type="submit" class="btn btn-primary">Add Card to Collection</button>
    </form>

    <% } %>
    
    </div>
</body>

<footer>
        Tradecard, the pokedex visualizer
</footer>

</html>